[*]
indent_style = space
charset = utf-8
end_of_line = lf
  
[*.php]
indent_size = 4

[*.go]
indent_size = 4

[*.swift]
indent_size = 4

[*.{h,m}]
indent_size = 4

[*.{html,scss,coffee,json,css}]
indent_size = 2