[user]
	name = sgr-ksmt
	email = melodydance.k.s@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	autocrlf = input
	whitespace = cr-at-eol
	ignorecase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	# aliases
	aliases = !git config --get-regexp alias | grep -v aliases | sed 's/^alias.//g' | sed 's/ /\\\t => /1' | sort
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	# commit
	c = commit -v
	ce = commit -v --allow-empty
	# check out
	b = branch
	cob = switch -c
	cot = checkout -t
	o = switch
	bdm = "!f () {\
    git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d; \
    git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs git branch -d; \
  };f"

	bdmf = "!f () {\
    git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; \
    git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs git branch -d; \
  };f"
	# remote
	r = remote
	rau = remote add upstream
	# log
	tree = log --graph --color=always --format=\"%x09%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr)%Creset %C(blue)<%an>%Creset\"
        treeall = log --graph --all --color=always --format=\"%x09%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr)%Creset %C(blue)<%an>%Creset\"
	today = "!f () {\
            git log --oneline --reverse --branches \
            --since=midnight --date=iso \
            --author=\"$(git config user.name)\" \
            --format=\" - %C(auto)%h%Creset : %s %C(green)(%ad)%Creset\";\
        };f"
	today-numstat = !"f(){ \
    git log \
    --numstat \
    --branches \
    --no-merges \
    --since=midnight \
    --author=\"$(git config user.name)\" \
    | awk 'NF==3 {a+=$1; d+=$2} END { \
      printf(\"%d (\\x1b[32m+%d\\033[m, \\x1b[31m-%d\\033[m)\\n\", a+d, a, d)\
    }'; \
  };f"
	# commit, merge
	st = status -sb
#	addall = add -A .
	mnf = merge --no-ff
	fix = commit --amend
	unstage = reset HEAD
	allcommit = commit -a
	# pull push
	pl = pull
	plr = pull --rebase
	pu = push
	pucb = ![[ $(git config "branch.$(git symbolic-ref --short HEAD).merge") = '' ]] && git push -u origin $(git symbolic-ref --short HEAD) || git push
	puu = push -u
	# remote
	update = fetch --all --prune
	push-all = !git push --all && git push --tags
	rtag = ls-remote --tags
	f = fetch
[color]
	ui = auto
[log]
	decorate = short
[push]
	default = simple
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
	note = auto-generated configuration by cpad2 upgrade
[credential]
	helper = osxkeychain
[ghq]
	root = ~/src
[github]
	user = sgr-ksmt
[fetch]
	prune = true
[pager]
	diff = less
[diff]
	compactionHeuristic = true
[http]
	cookiefile = /Users/melodydance/.gitcookies
[include]
  path = ~/.gitconfig.local
[pull]
	rebase = false
