[user]
	name = Su-
	email = su@sfidante.co.jp
[core]
	excludesfile = /Users/Kishimoto/.gitignore_global
	editor = emacs -nw
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	tree = log --oneline --graph  --all --format=\"%x09%C(yellow)%h%Creset %C(black bold)(%an,%ar)%Creset %C(magenta reverse)%d%Creset %s\"
	st = status -sb
	addall = add -A .
	today = log --oneline --since='12 hour ago'
	mnf = merge --no-ff
	o = checkout
	pl = pull
	pu = push
	puu = push -u
[color]
	ui = auto
[log]
	decorate = short
[push]
	default = simple

[merge "mergepbx"]
    name = XCode project files merger
    driver = /usr/local/bin/mergepbx %O %A %B
[credential]
	helper = osxkeychain
[ghq]
	root = /Users/Kishimoto/src
